<h1>New Search</h1>

<%= form_with url: search_path, method: :get, local: true do |f| %>
  <div class="form-group">
    <%= f.label :origin, "ðŸ“Origin" %>
    <%= f.text_field :origin, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :origin, "ðŸ¥¾ Maximum Length" %>
    <%= f.select_tag :maximum_length, options_for_select((1..30)) %>
  </div>
  <div class="form-group">
    <%= f.label :arrival_time, "Arrival" %>
    <div class="pb-1">
      ðŸ“†<%= f.date_select :arrival_time, {discard_year: true}, class: "form-control w-auto custom-select" %>
    </div>
    <div>
      ðŸ•’<%= f.time_select :arrival_time, {ampm: true, minute_step: 15}, class: "form-control w-auto custom-select" %>
    </div>
  </div>
  <%= f.submit "Submit", name: nil, class: "btn btn-primary" %>
<% end %>
